body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    width:150px;
    margin:0 auto;
}

.columns{
    display:flex;
}

.col{
    padding: 15px;
    margin:0 auto;
}