body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    text-align:center;
    font-family: 'Red Hat Display', sans-serif;
    

}
.card {
    /* width:150px; */
    margin:0 auto;
    margin-top:150px;
    width: 400px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.columns{
    display:flex;
    /* border: yellow solid 2px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    background-color:rgba(209, 199, 199, 0.1);
    border-radius:15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    
}

.col {
    
    margin:15px auto;
    /* border:blue solid 2px; */
    padding-bottom: 0;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    
   
    
    /* border:green solid 2px; */
}

.imagecontainer{
    display:block;
    margin:0 auto;
}
/* .par{
    font-size:16px;
    /* border: 2px solid red; */
    /* width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0;
    color:hsl(224, 23%, 55%); */ */
   
}
.order{
    /* border: 2px solid black; */
    margin-top:25px;
    margin-bottom:10px;
    color: hsl(223, 21%, 6%);
    font-weight: 900;
    
    


}
.first {
    padding-top:5px;
}
.second {
    text-align: left;
    /* padding-left: 2px;
    margin-left:0px; */
    /* border: green 2px solid; */
    padding-right: 100px;
    
    
    
}

.annual {
    /* border:2px black solid; */
    margin:1px 0px 2px 0px;
    font-size: 16px;
    color:hsl(223, 47%, 23%);
}
.cost{
    /* border:2px blue solid; */
    margin:1px 0px 2px 0px;
    font-size: 16px;
    color: grey;
}
.small {
    font-size: 14px;
    padding-right:25px;
    
}
.button {
    color:#fff;
    background-color:hsl(245, 75%, 52%);
    font-family: inherit;
    
    font-size: 14px;
    width: 300px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius:10px;
    border:none;
    margin-top: 15px;
}

.cancel {
    border:none;
    background: transparent;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:25px;
    margin-bottom: 30px;
    color: grey;
    font-size: 14px;
    
}

.strong {
    font-weight: 700;
}

a:hover {
    color:hsl(245, 75%, 52%)
}



/* Next to do is fix the alignment of .second and fix the margin and padding issues
also, change the background color so the icon still shows up. Then work on buttons
11/2/2021